<div>
  <h3>
    {{ section.settings.user_name }}
  </h3>
</div>



{% schema %}
  {
    "name": "Profile",
    "settings": [
      {
        "type": "text",
        "id": "header",
        "label": "Profile Setting"
      }, {
        "type": "image_picker",
        "id": "user_img",
        "label": "User Photo"
      }, {
        "type": "text",
        "id": "user_name",
        "label": "User name"
      }, {
        "type": "richtext",
        "id": "user_bio",
        "label": "Bio"
      }
    ],
    "presets": [
      {
        "category": "Profile",
        "name": "User Profile"
      }
    ]
  }
{% endschema %}